// scss/abstracts/_mixins.scss
@use "variables" as *;

@mixin hover-lift($distance: -10px) {
    transition: $transition-smooth;
    &:hover {
        transform: translateY($distance);
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}